@model LCCS_School_Parent_Communication_System.viewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>
@if (User.Identity.IsAuthenticated == false)
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.LabelFor(a => a.username, "Username");
        @Html.TextBoxFor(a => a.username, new { @class = "textb", @required = "required" });
        @Html.LabelFor(a => a.password, "Password");
        @Html.PasswordFor(a => a.password);
        <input type="submit" value="Log in" id="submit" />


    }
}


