
@{

}

    <style>

        .header {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }
    </style>

@using (Html.BeginForm("EvidenceManagement", "PHome", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form" }))
{
    @Html.AntiForgeryToken()
<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row bg-red header">
        <span class="p-3 title text-white col-md-10">Evidence</span>
    </div>

    <div class="mt-4">
        <div class="row col-12 ps-sm-2 ps-md-5">
            Evidence Document
        </div>
        <div class=" row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
            <div class="row"> <input type="file" name="file" id="doc" class="form-control p-1" required /></div>
            <div class="row"><p style="color:red;" id="error" class="d-none text-start pt-2">File Is Required</p></div>
        </div>
    </div>

    <div class="row mt-4 mb-2 ps-sm-2 ps-md-5">
        <div class=" col-sm-3 col-md-3"> <div class="row py-2"><button id="holder" type="submit" name="submit" class="btn btn-outline-primary py-1 w-50">
                <span id="spin" class=" spinner-border-sm" role="status" aria-hidden="true"></span>
                Upload
                </button>
                </div>
        </div>
    </div>

    @*<div class="form-group m-auto col-7">
        <input type="file" name="file" id="doc" class="form-control" required />
        <p style="color:red;" id="error" class="d-none text-start pt-2">File Is Required</p>
    </div>
    
    <button id="holder" type="submit" name="submit" class="btn btn-primary col-4 mt-3 rounded-pill">
        <span id="spin" class=" spinner-border-sm" role="status" aria-hidden="true"></span>
        Upload
    </button>*@


    <div class="">
        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert" id="alert">
                @ViewBag.error
            </div>
        }

        @if (ViewBag.complete != null)
        {
            <div class="alert alert-success" role="alert" id="alert">
                @ViewBag.complete
            </div>
        }
        <div class="alert alert-success d-none" role="alert" id="alert">

        </div>
    </div>
</div>


}



<script type="text/javascript">
    $(document).ready(function () {
        var spin = document.getElementById("spin");
        var message = document.getElementById("alert");
        var doc = document.getElementById("error");
        var form = document.getElementById("form");

        //$.validator.unobtrusive.parse("#form");
        //ValidationForm();


        $('#holder').click(function () {
            if (form["file"].value != "") {
                spin.classList.add("spinner-border");
                message.classList.add("d-none");

            }
            else {
                message.classList.add("d-none");
                doc.classList.remove("d-none");
            }

        });


        function ValidationForm() {
            if ($("#form").valid()) {
                return true;
            }
            else {

                return false;

            }
        }
    });


</script>

<style>
    .row, .row > * {
        padding: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>