
@{
    ViewBag.Title = "Index";
}

<h2>Parent</h2>

@Html.ActionLink("View Attendance", "viewAttendance", "HTHome");
@Html.ActionLink("View Attendance", "WarningList", "HTHome");
@Html.ActionLink("Evidence Management", "EvidenceManagement", "HTHome");



