@model List<LCCS_School_Parent_Communication_System.Models.Warning>
@{

}


@foreach (var list in Model)
{
<div class="btn-group w-50 ">
    <a href="/Parent/PHome/ViewWarning/@list.warningId" class="btn btn-primary">Too Many @list.warningType Record</a>
</div>
        }


