@model LCCS_School_Parent_Communication_System.viewModels.AbsenceRecordViewMoel
@{
    ViewBag.Title = "addAttendance";
}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<div class="form-group text-center">
    @using (Html.BeginForm("addAttendance", "HTHome", FormMethod.Post))
    {
        @Html.ListBoxFor(a => a.selectedStudents, Model.studentList, new { htmlAttributes = new { @class = " form-control w-50 dpbig " }, style = "max-width:550px; height:300px; border-color:blue;font-size:1.5em; " })<br>



        if (ViewBag.Message == true)
        {
            <input type="submit" name="add" value="Add As Absent" disabled class="btn btn-danger">
        }
        else
        {
            <input type="submit" name="add" value="Add As Absent" class="btn btn-danger" />
        }
        <input type="submit" name="update" value="Update List" class="btn btn-primary" />
    }
</div>

ViewBag.messageSuccessStatus
<script type="text/javascript">
    $('option').mousedown(function (e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>