@model LCCS_School_Parent_Communication_System.viewModels.groupViewModel
@{
    ViewBag.Title = "viewGroup";
}
 
    
    <div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
        <div class="row title-button">
            <span class="p-3 title col-md-10">Groups</span>
        </div>
        <div class="table-responsive py-2">
            <table class="table table-bordered" id="tblGroupStructureList">
                <thead>
                    <tr>

                        <th scope="col">Group Structure Name</th>
                        <th scope="col">Group Name</th>
                        @for (int x = 1; x <= Model.maxMembers; x++)
                        {
                            <th scope="col">Member @x</th>
                        }


                    </tr>
                </thead>


                <tbody>
                    @foreach (var k in Model.groupList)
                    {
                        <tr>
                            <td>@k.groupStructure.groupStructureName</td>
                            <td>@k.groupName</td>
                            @for (int x = 0; x < Model.maxMembers; x++)
                            {
                                foreach (var j in Model.groupMembers)
                                {
                                    if (j.groupId == k.groupId)
                                    {
                                        <td>@j.student.fullName</td>
                                        x++;

                                    }

                                }
                                while (x < Model.maxMembers)
                                {
                                    <td>-</td>
                                    x++;
                                }
                            }


                        </tr>
                    }
                </tbody>



            </table>
        </div>

    </div>
