
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Registrar Management", "manageRegistrar", "ADHome");

@Html.ActionLink("Teacher Management", "RegisterTeacher", "ADHome");
@Html.ActionLink("Section Management", "SectionManagement", "ADHome");

