
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Registrar Management", "manageRegistrar", "ADHome");

@Html.ActionLink("Teacher Management", "manageTeacher", "ADHome",new { area = "Academic_Director" });