@model List<LCCS_School_Parent_Communication_System.Models.Evidence>
@{
   
}



    @foreach (var list in Model)
    {
        <div class="btn-group w-50 ">
            <a href="/Unit_Leader/ULHome/EvidenceApproval/@list.evidenceId" class="btn btn-primary">@list.parent.student.fullName</a>
            </div>
            }
<div class="alert alert-danger" role="alert">
    @ViewBag.message
    </div>

